#root {
  text-align: center;
  font-family: 'Arial', sans-serif;
}
.App{
  height: 90vh;
  background-color: #333;
}

body {
  background-color: #333;
}

h1 {
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.square {
  background: white;
  border: 2px solid #ddd;
  color: aqua;
  font-size: 40px;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  font-weight: bold;
  line-height: 80px;
  transition: background 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  margin: 2px;
  float: left;
}

.square:hover {
  background: #f0f0f0;
  transform: scale(1.05);
}

.square:active {
  transform: scale(0.95);
}

.status {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #119a1c;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #004085;
  transform: scale(0.98);
}
